@mixin btn{
  color: #3C3C3C;;
  border: .075rem solid #3C3C3C;
  background-color: transparent;
  padding: 1rem;
  font-weight: 300;
}

@mixin h2{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  z-index:5;
  padding: 1rem;
  color: #3C3C3C;
}

@mixin decoration{
  background-image: url("./../assets/Decoration.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 15rem;
  height: 1.5rem;
}